
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto Mono', monospace;
}


* {
  box-sizing: border-box;
}

.navbar {
	background-color: rgba(0, 0, 0, 0.3) !important;
}

.navbar a{
  	letter-spacing: 2px;
  	font-size: 70%;
  	font-weight: bold;
  	font-family: 'Roboto Mono', monospace;
}

.banner-section {
	width: 100%;
	height: 100vh;
		min-height:450px;
	align-items: center;
	display: flex;
	justify-content: center;
	text-align: center;
	background-color: #dedede !important;
	font-family: 'Roboto Mono', monospace;
}

.banner-section h1, p {
	font-weight: bold;
	font-family: 'Roboto Mono', monospace;

}

.skills-section{
	width: 100%;
	height: 100vh;
	min-height:450px;
	align-items: center;
	display: flex;
	justify-content: center;
	text-align: center;
	background-color: #222120 !important;
}

.skills-section {
	color: #d5cac9 !important;
	font-family: 'Roboto Mono', monospace;

}
.skills-section p{
	font-size: 12px;
}

.skills-box{
	margin-top: 50px;
}
.skill-icon{
	color: #fff;
	box-shadow: 0px 30px 100px -10px rgba(255, 255, 255, 0.3);
}

.navIcons{
	margin-top: 2px;
	color: #d5cac9;
}
.icon-box{
	padding: 15px 15px 15px 15px;

}
.portfolio-section {
	width: 100%;
	height: 600px;
	min-height: 750px;
	align-items: center;
	display: flex;
	justify-content: center;
	text-align: center;
	background-color: white !important;
	background-size: cover;
	position: relative;
	padding-top: 150px;

}

.portfolio-section h1{
		font-family: 'Roboto Mono', monospace !important;
}

.portfolio-title {
	padding-top: 5%;
	color: #1F1F1F;
	text-align: center;

}
.project-tile {
	padding-top: 5%;
	padding-bottom: 5%;
	color: #fff;
	text-align: center;
	font-family: 'Roboto Mono', monospace !important;

}

.card-container{
	margin: 3%;
	color:#1F1F1F;
	box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.3);
	transition: box-shadow 0.5s;
	will-change: transform;
	border: 15px solid white;
	font-family: 'Mukta', sans-serif !important;

}

.card:hover {
  box-shadow: 0px 30px 100px -10px rgba(0, 0, 0, 0.4);
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.card-text{
	font-size: 15px;
	font-family: 'Mukta', sans-serif !important;
	font-weight: 200;

}

.link-icon {
	color: #103DC2 !important;
	margin-top: -5px;
	margin-left: 5px;
}

.contact-section{
	margin-top: 150px;
	width: 100%;
	display: flex;
	padding: 25px 25px 0px 25px;
	background-color: #3F3F3F !important;
	font-family: 'Mukta', sans-serif;
	min-height: 80px;

	
}
.contact-section p{
	font-size: 15px;
	font-family: 'Mukta', sans-serif !important;
	font-weight: 200;
	color: #d5cac9 !important;
	text-align: left;
}

.contact-section a{
	color: #d5cac9 !important;
	font-size: 15px;
	text-decoration: none;
}

.contact-section a:hover{

	color: pink !important;
	font-weight: bold;
	font-size: 15px;
	text-decoration: none;
}

.social-icons {
	color: gray;
	margin-left: 10px;
}
.social-icons:hover {
	color: #fff;
}

.social-box {
	align-items: right;
		justify-content: right;
		text-align: right;
}

.email-section {
	text-align: left;

	align-items: left;
	justify-content: left;
}